body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

.title {
  display: flex;
  color: #007bff;
  height: 10vh;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.menu {
  background-color: #0056b3; /* Темніший синій для кращого контрасту */
  height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}

.menu-item {
  display: inline;
  margin: 0 10px;
}

.menu-link {
  text-decoration: none;
  color: #fff; /* Білий залишається, оскільки він має хороший контраст з темнішим синім */
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-link:hover {
  background-color: #003f7f; /* Темніший колір для hover */
}

.description {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

/* order tickets */

.event-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.event-table th,
.event-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.event-table tr {
  border: 2px solid black;
}

.event-heading {
  text-align: center;
}

.order-form {
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-select,
.form-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #0056b3;
}

/* catalog */

.category-title {
  text-align: center;
  margin-top: 20px;
}

.animal-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

.animal-item {
  margin: 5px 0;
}

.animal-link {
  text-decoration: none;
  color: #007bff;
}

.animal-link:hover {
  text-decoration: underline;
}

/* about us */

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.description,
.mission,
.contact {
  margin-bottom: 20px;
}

.email-link {
  color: #007bff;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

/* map */

.map-container {
  text-align: center;
  height: 85vh;
  width: 100%;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}

/* lion */

.animal-image {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.description,
.conservation-status {
  text-align: justify;
  margin-bottom: 20px;
}

.section-title {
  text-align: center;
  margin-top: 30px;
}

.characteristics-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.characteristics-list li {
  margin-bottom: 10px;
}

.video {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.return-link {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.return-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.return-button:hover {
  background-color: #0056b3;
}

#scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.current-time {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;

  overflow-x: hidden;
  font-family: "Amatic SC", cursive;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 95vh;
  text-align: center;
  transform-style: inherit;
  width: 100vw;
  background-image: url("/HeroPug.webp");
  background-size: cover;
  color: white;
}
/* header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  transform-origin: center;
  min-height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  transform: translateZ(-1px) scale(2);
} */
header h1 {
  font-size: 42px;
  margin: 0;
}

.blur {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Set the background color with transparency */
  backdrop-filter: blur(5px); /* Apply the blur effect */
  padding: 20px 0;
  border-radius: 30px;
}

@media screen and (max-width: 666px) {
  .menu {
    height: 20vh;
    font-size: 1.2rem;
  }
  .first-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .second-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  header {
    height: 80vh;
  }
  .map-container {
    height: 70vh;
  }
}

@media screen and (max-width: 450px) {
  .event-table {
    width: 90%;
  }

  .event-table th,
  .event-table td {
    display: block;
    padding: 0.5rem;
    text-align: center;
  }
}

iframe[src*="youtube"] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 10px;
}
